* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a,
button,
input,
select,
textarea {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  /* background-color: blue; */
}

header {
  padding: 19px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;

  /* background-color: #ff7979; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;

  /* gap: 44px; */
}

.nav-links {
  display: flex;
  margin: 0px 0px 0px 220px;
  gap: 40px;
}

.nav-link {
  color: #333;
  font-size: 16px;
  line-height: 28px;
  transition: all 0.3s linear;
}
.headerbtn {
  padding: 0px 0px 0px 0px;
}

.nav-link:hover,
.nav-link:active {
  color: #000;
}

.btn2 {
  width: 110px;
  height: 45px;
  border-radius: 4px;
  background: #02897a;

  font-size: 16px;
  font-family: Rubik;
  font-weight: 500;
}
.btn1 {
  width: 110px;
  height: 45px;
  border-radius: 4px;
  background-color: transparent;
  color: #0b132a;
  font-size: 16px;
  font-family: Rubik;
  font-weight: 500;
}
.product {
  margin: 0px 0px 0px -250px;
  font-size: 30px;
  font: bolder;
}
