.hero2 {
  height: 500px;
}
.hero2-p1 {
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
}
.hero2-card1 {
  width: 250px;
  height: 200px;

  padding: 20px;
  margin: 80px 0px 0px 0px;
}
.hero2-p2 {
  color: #22343d;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero2-p3 {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-top: 10px;
}
.hero2-obj1 {
  display: flex;
  justify-content: space-between;
}
.hero2-btn1 {
  border-radius: 4px;
  background: #02897a;
  width: 140px;
  height: 40px;
  margin: 50px 0px 0px 530px;
}
